@tailwind base;
@tailwind components;
@tailwind utilities;

@import './dark.scss';
@import './light.scss';

::selection {
  background: var(--selection-bgcolor);
  color: var(--selection-color);
}

::-webkit-scrollbar {
  width: var(--scroll-width);

  &-track {
    background: var(--scroll-track-bgcolor);
  }

  &-thumb {
    background: var(--scroll-thumb-bgcolor);
  }

  &-thumb:hover {
    background: var(--scroll-thumb-hover-bgcolor);
  }
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-size: var(--app-font-size);
  font-family: var(--app-font-family), serif;
  color: var(--app-color);
  background: var(--app-bgcolor);
  line-height: 1.5;
}

body {
  background-size: 32px 32px;
  background-image: linear-gradient(to right, #7070700d 1px, transparent 1px), linear-gradient(to bottom, #7070700d 1px, transparent 1px);
}

h1 {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  user-select: none;

  &.has-border {
    border: var(--app-border-color);
  }
}

.rotate {
  animation: rotate 4.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/**
 *==========================================================================
 * Navigator Overrides for different themes
 *==========================================================================
 */
.window-navigator {
  background: var(--navigator-bgcolor);
  height: auto;
  overflow: hidden;

  &-icon {
    min-height: 33px;

    img {
      border-radius: 50%;
    }
  }

  .window-title {
    color: var(--navigator-title-color);
  }

  .menu-item {
    &.active .menu-title {
      background: var(--navigator-menu-title-active-bgcolor);
      box-shadow: var(--navigator-menu-title-shadow);
      color: var(--navigator-color);
      border-color: var(--navigator-menu-title-active-border-color);
      border-radius: 4px 4px 0 0;
      border-top-color: var(--app-accent-color);
    }
  }

  .menu-title {
    font-weight: normal;
    text-shadow: none;
    color: var(--navigator-color);
    border-color: transparent;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    padding: 2px 8px;
    margin-right: 2px;
    border-radius: 4px;

    &:hover {
      background-color: var(--navigator-menu-title-hover-bgcolor);
    }
  }

  .menu-popup {
    display: none;
    position: fixed;
    background-color: var(--navigator-popup-bgcolor);
    min-width: 70px;
    border: var(--navigator-popup-border);
    border-top: 0;
    padding: 0.25rem 0;
    box-shadow: 4px 10px 10px #0000002e;
    z-index: 10000;
    border-radius: 0 6px 6px 6px;

    &-item {
      padding: 0.3125rem 1rem;

      &:hover {
        background: var(--navigator-popup-item-hover-bgcolor);

        .popup-item-shortcut {
          color: var(--navigator-popup-item-hover-shortcut-color);
        }

        .popup-item-name {
          color: var(--navigator-popup-item-hover-color);
        }
      }
    }
  }

  .popup-item-separator {
    background: var(--navigator-menu-separator-bgcolor);
  }

  .popup-item-name {
    padding-right: 2rem;
    color: var(--navigator-popup-item-name-color);
    text-shadow: 0 1px var(--navigator-popup-item-name-shadow-color);
  }

  .popup-item-shortcut {
    color: var(--navigator-popup-item-shortcut-color);
    text-shadow: none;
    letter-spacing: 0.5px;
  }

  &-controls.type-windows .control {
    color: var(--navigator-color);
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
      color: var(--navigator-color);
      background: var(--navigator-popup-item-hover-bgcolor);
    }

    &.close:hover {
      color: #fff;
    }
  }
}
