@import './dark.css';
@import './light.css';
@import './navigator.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-font-size: theme('fontSize.base');
  --app-font-family: theme('fontFamily.sans');
  --scroll-width: 10px;
}

.app-accent-color {
  color: var(--app-accent-color);
}
.app-bgcolor {
  background-color: var(--app-bgcolor);
}
.app-border-color {
  border-color: var(--app-border-color);
}
.app-color {
  color: var(--app-color);
}
.input-color {
  color: var(--input-color);
}
.button-active-bgcolor {
  background-color: var(--button-active-bgcolor);
}
.button-active-color {
  color: var(--button-active-color);
}
.button-border {
  border: var(--button-border);
}
.button-bgcolor {
  background-color: var(--button-bgcolor);
}
.button-color {
  color: var(--button-color);
}
.button-hover-bgcolor {
  background-color: var(--button-hover-bgcolor);
}
.button-shadow-color {
  box-shadow: 0 1px 2px var(--button-shadow-color);
}
.scroll-thumb-bgcolor {
  background-color: var(--scroll-thumb-bgcolor);
}
.scroll-thumb-hover-bgcolor {
  background-color: var(--scroll-thumb-hover-bgcolor);
}
.scroll-track-bgcolor {
  background-color: var(--scroll-track-bgcolor);
}
.selection-bgcolor {
  background: var(--selection-bgcolor);
}
.selection-color {
  color: var(--selection-color);
}
.navigator-bgcolor {
  background-color: var(--navigator-bgcolor);
}
.navigator-color {
  color: var(--navigator-color);
}
.navigator-title-color {
  color: var(--navigator-title-color);
}
.navigator-menu-title-hover-bgcolor {
  background-color: var(--navigator-menu-title-hover-bgcolor);
}
.navigator-menu-title-shadow-color {
  color: var(--navigator-menu-title-shadow-color);
}
.navigator-menu-title-active-bgcolor {
  background-color: var(--navigator-menu-title-active-bgcolor);
}
.navigator-menu-title-active-border-color {
  border-color: var(--navigator-menu-title-active-border-color);
}
.navigator-menu-separator-bgcolor {
  background-color: var(--navigator-menu-separator-bgcolor);
}
.navigator-popup-bgcolor {
  background-color: var(--navigator-popup-bgcolor);
}
.navigator-popup-border {
  border-color: var(--navigator-popup-border);
}
.navigator-popup-shadow {
  box-shadow: var(--navigator-popup-shadow);
}
.navigator-popup-item-name-color {
  color: var(--navigator-popup-item-name-color);
}
.navigator-popup-item-name-shadow-color {
  color: var(--navigator-popup-item-name-shadow-color);
}
.navigator-popup-item-hover-color {
  color: var(--navigator-popup-item-hover-color);
}
.navigator-popup-item-hover-shortcut-color {
  color: var(--navigator-popup-item-hover-shortcut-color);
}
.navigator-popup-item-hover-bgcolor {
  background-color: var(--navigator-popup-item-hover-bgcolor);
}
.navigator-popup-item-shortcut-color {
  color: var(--navigator-popup-item-shortcut-color);
}

.main-teaser {
  @apply text-gray-800;

  &:after {
    @apply shadow-transparent;
  }
}

.versions .item {
  @apply bg-white bg-opacity-50 text-gray-600 shadow-custom;

  & > span {
    @apply text-gray-400;
  }
}

::selection {
  background: var(--selection-bgcolor);
  color: var(--selection-color);
}

::-webkit-scrollbar {
  width: var(--scroll-width);
}

::-webkit-scrollbar-track {
  background: var(--scroll-track-bgcolor);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-bgcolor);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-bgcolor);
}

html,
body,
#app {
  @apply h-full;
}

body {
  @apply m-0;
  font-size: var(--app-font-size);
  font-family: var(--app-font-family), serif;
  color: var(--app-color);
  background: var(--app-bgcolor);
  line-height: 1.5;
}

body {
  background-size: 32px 32px;
  background-image: linear-gradient(to right, #7070700d 1px, transparent 1px), linear-gradient(to bottom, #7070700d 1px, transparent 1px);
}

input,
textarea {
  color: var(--input-color);
}

h1 {
  @apply m-0;
}

a,
button {
  @apply cursor-pointer;
}

#app {
  @apply flex flex-col box-border;
  user-select: none;

  &.has-border {
    border: var(--app-border-color);
  }
}

.rotate {
  animation: rotate 4.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.button {
  @apply px-2 py-1 rounded text-sm;
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  border: var(--button-border);
  box-shadow: 0 1px 2px var(--button-shadow-color);
  &:hover {
    background-color: var(--button-hover-bgcolor);
  }
  &:active {
    background-color: var(--button-active-bgcolor);
    color: var(--button-active-color);
    @apply shadow-inner font-bold;
  }
  &.active {
    background-color: var(--button-hover-bgcolor);
    color: var(--button-active-color);
    @apply shadow-inner font-bold;
  }
  &.icon-only {
    &:not(:hover) {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.modal {
  background-color: var(--app-bgcolor);
}
